<!DOCTYPE html>
<html>
<head>
    <title>Recherche de station</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css"> 
</head>
<body>
    <h1>Recherche de station</h1>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash-messages">
            {% for message in messages %}
                <div class="flash-message">{{ message }}</div>
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %}


    <form method="POST">
        <label for="commune">Nom de la commune:</label>
        <input type="text" id="commune" name="commune">
        <br>
        <label for="station">Nom de la station:</label>
        <input type="text" id="station" name="station">
        <br>
        <input type="submit" value="Rechercher">
    </form>

    <!-- Bouton d'ajout -->
    <a href="/add">Ajouter station</a>

    <table class="table-sort">
        <thead>
            <tr>
                <th>ID</th>
                <th>Station</th>
                <th>Status</th>
                <th>Admin</th>
                <!-- Ajoutez d'autres en-têtes de colonne ici -->
            </tr>
        </thead>
        <tbody>
            {% for station in data %}
                <tr>
                    <td>{{ station.id }}</td>
                    <td>{{ station.station }}</td>
                    <td>{{ station.status }}</td>
                    <td class="td-button-container">
                        <div class="button-container">
                            <a class="details-btn" href="{{ url_for('details', id=station.id) }}">Détails</a>
                            <a class="modify-btn" href="{{ url_for('modify', id=station.id) }}">Modifier</a>
                            <a class="delete-btn" href="{{ url_for('delete_data', id=station.id) }}">Supprimer</a>
                        </div>
                    </td>
                    <!-- Ajoutez d'autres colonnes ici -->
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script src="https://cdn.jsdelivr.net/npm/table-sort-js/table-sort.min.js"></script>

</body>
</html>