body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    width: 60%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
}

input[type="text"], select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.button-container {
    text-align: center;
}

input[type="submit"], a.cancel-btn {
    background-color: #4CAF50;
    padding: 12px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    font-size: 100%;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

a.cancel-btn:hover {
    background-color: #9e2113;
}

a.cancel-btn {
    background-color: #e74c3c;
    margin-left: 10px; 
    text-decoration: none;
}

select {
    padding: 10px;
    margin-bottom: 15px;
}

.flash-messages {
    margin: 20px auto;
}

.flash-message {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #e74c3c; /* Couleur rouge */
    color: white;
    border-radius: 5px;
    text-align: center;
}