body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    margin-top: 20px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input[type="text"], input[type="submit"] {
    padding: 8px;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
}

a {
    text-decoration: none;
    color: #3498db;
}

a:hover {
    color: #1e67b8;
}

a[href="/add"] {
    display: block;
    margin: 20px auto;
    padding: 10px;
    background-color: #3498db;
    color: white;
    text-align: center;
    width: 150px;
    border-radius: 5px;
    text-decoration: none;
}

a[href="/add"]:hover {
    background-color: #1e67b8;
}

.td-button-container {
    display: flex;
    justify-content: center;
}

.button-container a.modify-btn, .button-container a.delete-btn {
    padding: 12px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}

.button-container a.modify-btn {
    background-color: #4CAF50;
    margin-right: 5px;
}

.button-container a.delete-btn {
    background-color: #e74c3c;
}

.button-container a.modify-btn:hover,
.button-container a.delete-btn:hover {
    opacity: 0.8;
}